{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'articles/css/home.css' %} ">
</head>
<body>
<h1>Главная страница</h1>
{% if user.is_authenticated %}
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Выйти</button>
</form>
{% else %}
<form action="register" method="post">
    {% csrf_token %}
    <button type="submit">Зарегистрироваться</button>
</form>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <button type="submit">Войти</button>
</form>
{% endif %}
<hr>
<form  action="search" method="POST">
     {% csrf_token %}
    <input type="text" name="search_article">
    <button>Поиск</button>
</form>
<hr>
Категории:<br>
{% for i in category %}
<a href="/category/{{ i.id }}">{{ i.name }}</a><br>
{% endfor%}
<hr>
Статьи:<br>
{% for i in article %}
<a href="/article/{{ i.id }}">{{ i.title }}</a><br>
{% endfor %}
<hr>

<a href="/about">О нас</a>
<a href="/createarticles">Создать статью</a>
</body>
</html>